<style>
    #infobox a,a:hover {
        color: white!important;
    }
</style>

<div class="block-map {% if top == 1%}map-top{% endif %}">
    <div id="map"></div>
</div>
<div class="infobox-wrapper">
    <div id="infobox">
        <div class="cell icon-tour">
            <img id="infoImg" src="" alt="">
        </div>
        <div class="cell description-tour">
            <p class="title">Phasellus ut tempor urna</p>
            <p class="name-hotel">Отель «АТЛАНТ»</p>
            <hr/>
            <p class="description">Dolor sit amet, consectetur adipiscing elit. Phasellus ut tempor urna, id vestibulum lacus. </p>
        </div>
        <div class="cleafrix"></div>
    </div>
</div>

