.daterangepicker .ranges {
    position: absolute;
}
.daterangepicker .calendar first right {
    float: right;
}

.daterangepicker .applyBtn {
    position: absolute;
    left: 172px;
    -webkit-font-smoothing: antialiased;
    background: #23b6a8;
    background: -moz-linear-gradient(top, #23b6a8 0%, #23b685 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23b6a8), color-stop(100%, #23b685));
    background: -webkit-linear-gradient(top, #23b6a8 0%, #23b685 100%);
    background: -o-linear-gradient(top, #23b6a8 0%, #23b685 100%);
    background: -ms-linear-gradient(top, #23b6a8 0%, #23b685 100%);
    background: linear-gradient(to bottom, #23b6a8 0%, #23b685 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b6a8', endColorstr='#23b685',GradientType=0 );
    color: white;
    border: none;
}

.daterangepicker .applyBtn:hover {
    background: #2debd8;
    background: -moz-linear-gradient(top, #2debd8 0%, #2bdea2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2debd8), color-stop(100%, #2bdea2));
    background: -webkit-linear-gradient(top, #2debd8 0%, #2bdea2 100%);
    background: -o-linear-gradient(top, #2debd8 0%, #2bdea2 100%);
    background: -ms-linear-gradient(top, #2debd8 0%, #2bdea2 100%);
    background: linear-gradient(to bottom, #2debd8 0%, #2bdea2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2debd8', endColorstr='#2bdea2',GradientType=0 );
}

.daterangepicker .cancelBtn {
    display: none;
}

.daterangepicker.show-calendar .calendar {
    margin-top: 45px;
}

.daterangepicker .ranges .input-mini {
    font-size: 13px;
    font-weight: bold;
    border: none;
}

.daterangepicker .daterangepicker_start_input label, .daterangepicker .daterangepicker_end_input label {
    display: none;
}


